
body {
  background-color: lightblue;
}

#refKey {
    font-style: italic;
    font-weight: 700;
    overflow-wrap: break-word;
}

.encode_decode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#encode, #decode {
  min-width: 100%;
}

i {
    color: gray;
}

.steps {
    font-weight: 500;
}

#encodedPassword, #decodedPassword {
  background-color: orange;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {

  .encode_decode {
    display: flex;
    flex-direction: column;
  }
}


@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1; } }